body{
    background-color: #dfd6ce !important;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

#title{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bolder;
}

#picsum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.objectImg{
    width: 400px;
    border-radius: 5%;
}

h4{
    text-align: center;
    font-family: 'roboto slab', cursive;
    padding: 5px;
}

.objectDiv{
    margin: 1rem;
    padding: 0px;
}


