.objectImg{
    /* height: 10%; */
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;

}

.objectDiv{
    margin: 0px;
    padding: 0px;
}

div{
    margin: 0;
}